<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>loginserv</display-name>
    <servlet-name>loginserv</servlet-name>
    <servlet-class>log.com.loginserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginserv</servlet-name>
    <url-pattern>/loginserv</url-pattern>
  </servlet-mapping>
  <display-name>logincookies</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>login.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>indexserv</display-name>
    <servlet-name>indexserv</servlet-name>
    <servlet-class>log.com.indexserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexserv</servlet-name>
    <url-pattern>/indexserv</url-pattern>
  </servlet-mapping>
</web-app>